
header ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

ul li h3 a {
    justify-content: space-between;
    color: brown;
    display: flex;
    margin: 30px;
    padding: 0px;
}

p {
    margin-left: 20px;
}


header ul li a :hover {
    background: #010503;
}

ul h3 a {
    color: white;
}

header {
    justify-content: space-between;
    position: center;
    transform: rotate();
    display: flex;
}

li a {
    text-decoration: none;
}

h2 a {
    color: brown;
    text-decoration: none
}

# {
    margin: 0px;
    padding: 0px;
}

h3 {
    color: brown;
}

body {
    background: linear-gradient(#010503,#000000);
}

h1 {
    color: brown;
}

p {
    color: ghostwhite;
}
